a.google-login {
  display: block;
  width: 294px;
  height: 60px;
  text-indent: -99999px;
  background: #fff url(/assets/White-signin_Long_base_20dp.png);
}

a.google-login:hover {
  background: #fff url(/assets/White-signin_Long_hover_20dp.png);
}